$main-font: "Quicksand", sans-serif;

:root{
    --green-text: #3BB77E;
    --green-light-bg: #D7F2E7;
    --navy-text: #253D4E;
    --gray-text: #7E7E7E;
    --gray-light-text: #F1F1F1;
    --yellow-text: #FDC643;
    --green-btn: #DEF9EC;
    --text: #121212;
    --text-darkblue: #253D4E;
    --gray-text: #7e7e7e;
    --text-seperator: #e5e5e5;
    --line-seperator: #ececec;
    --line-green: #D8F1E5;
    --red-color: #fc2738;
    --sale-bg: #e06a6a;
    --sale-bg-light: #e49191;
    --gray-border: #ececec;
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-header{
    font-family: $main-font;
    // font-size: ;
    font-weight: 700;
    color: var(--navy-text);
    font-size: 1.5rem;

}

.page-margin{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.section-margin{ 
    margin: .8rem 0 .4rem 0;
}
.header-margin{
    margin-bottom: 1rem;
}

.transition-fast{
    transition: all .3s;
}
.transition-medium{
    transition: all .8s;
}
.transition-slow{
    transition: all 1s;
}


.box-shadow-style{
    box-shadow:
    1px 0 1px 0px rgba(0, 0, 0, .15),    /* Right shadow */
    -1px 0 1px 0px rgba(0, 0, 0, .15),   /* Left shadow */
    0 1px 1px 0px rgba(0, 0, 0, .15),     /* Bottom shadow */
    0 -1px 1px 0px rgba(0, 0, 0, .15);
    border-radius: .3rem;
}





