@import './__base.scss';
@mixin mobile{
    @media only screen and (max-width: 767px){
        @content;
    }
}

@mixin tablet{
    @media only screen and (min-width: 768px) and (max-width: 991px){
        @content;
    }
}

@mixin name-style{
    font-family: $main-font;
    font-size: .9rem;
    font-weight: 700;
    color: var(--navy-text);
    &:hover{
        color: var(--green-text);
        cursor: pointer;
    }
}

@mixin btn-arrow{
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: var(--green-text);
    // margin-right: .5rem;
    // padding: 1rem;
    &:hover{
        background-color: var(--green-text);
        color: white;
    }
}


@mixin transition-fast{
    transition: all .3s;
}
@mixin transition-medium{
    transition: all .8s;
}
@mixin transition-slow{
    transition: all 1s;
}

@mixin border-gray{
    border: 1px solid var(--gray-border);
    border-radius: 4px;
}