// @import './_mixins';
@import './__base';
@import "./__mixins";

.container{
    margin: 0 15px;
}


.hover-animation{
    transition: all .2s;
}
.hover-animation:hover{
    transform: translateY(-3px);
}










/* Trieu's css */
// .nav, header {
//     width: 100%;
//     font-size: 14px;
//     font-weight: 400;
//     color: var(--gray-text);
// }

// .nav a {
//     text-decoration: none;
//     cursor: pointer;
// }

// .nav a:hover {
//     color: var(--green-text);
//     transition: color 0.2s ease-out;
// }

// .nav ul {
//     list-style: none;
// }

// .top-bar {
//     width: 100%;
//     height: 40px;
//     display: flex;
//     flex-direction: row;
//     border-bottom: 1px solid var(--line-seperator);
// }

// .top-bar a {
//     float: left;
//     color: var(--gray-text);
//     height: 100%;
//     display: flex;
//     align-items: center;
// }

// .top-bar > div{
//     width: 33%;
//     height: 100%;
// }

// .top-bar-left {
    
// }

// .top-bar-left > a > span {
//     padding: 0 10px;
//     line-height: 0.7;
// }

// .top-bar-left > a:not(:last-of-type) > span {
//     border-right: solid 1px var(--text-seperator);
// }

// .top-bar-center {
//     flex-grow: 1;
//     text-align: center;
//     line-height: 40px;
//     font-weight: 700;
// }

// .top-bar-right {
//     padding-right: 10px;
//     display: flex;
//     align-items: center;
//     justify-content: right;
// }

// .top-bar-right span {
//     padding: 0 10px;
    
// }

// .top-bar-right form select {
//     padding: 0 10px;
//     border: none;
//     color: var(--gray-text);
// }

// .top-bar-right form select:hover {
//     cursor: pointer;
//     transition-duration: 0.2s;
// }

// .seperator {
//     position: relative;
// }

// .seperator::after {
//     content: "";
//     display: block;
//     position: absolute;
//     height: 10px;
//     border-right: solid 1px var(--text-seperator);
//     right: 0;
//     top: 50%; /* 50% height của cha nó */
//     transform: translateY(-50%); /* đi lên một đoạn bằng 50% height của nó */
// }


// .header-inner {
//     width: 100%;
//     min-height: 70px;
//     display: flex;
//     flex-direction: row;
// }

// .header-inner > div {
//     width: 33%;
// }

// .header-inner-left {
//     display: flex;
//     align-items: center;
//     padding-left: 10px;
// }

// .search-bar {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-bottom: solid 1px black;
// }

// .search-bar input {
//     border: none;
//     outline: none;
//     background-color: transparent;
//     font-size: 1rem;
//     font-weight: 400;
//     color: var(--gray-text);
//     font-style: italic;
//     padding: 5px 10px;
//     flex-grow: 1;
// }

// .search-bar input::-webkit-input-placeholder {
//     font-style: italic;
//     font-size: 16px;
//     font-weight: 400;
//     color: var(--gray-text);
// }

// .search-bar input:-ms-input-placeholder {
//     font-style: italic;
//     font-size: 16px;
//     font-weight: 400;
//     color: var(--gray-text);
// }

// .search-bar button {
//     background-color: transparent;
//     border: none;
//     padding-right: 10px;
// }

// .header-inner-center {
//     flex-grow: 1;
//     display: flex;
//     justify-content: center;
// }

// .header-inner-right {
//     display: flex;
//     justify-content: right;
//     align-items: center;
//     padding-right: 10px;
// }

// .header-inner-right a {
//     font-size: 1rem;
//     color: var(--green-text);
//     padding: 0 10px;
//     display: inline-flex;
//     align-items: center;
//     min-height: 28px;
// }

// .header-inner-right-icon {
//     font-size: 28px;
// }

// .header-inner-right a span {
//     margin-left: 7px;
// }

// .header-inner-right a:hover {
//     color: rgba(59, 183, 126, 0.7);
//     transition-duration: 0.2s;
// }

// .container_center {
//     width: fit-content;
//     max-width: 100%;
//     margin: 0 auto;
// }

// .nav-bar {
//     height: fit-content;
//     border-bottom: solid 1px var(--line-seperator);
// }

// .header-navigation {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 0 10px;
//     height: 100%;
//     margin: 0;
//     position: relative;
//     border-top: solid 1px var(--line-seperator);
// }

// .menu-item, .sub-menu > li {
//     position: relative;
// }

// .menu-item-link {
//     display: flex;
//     height: 100%;
//     justify-content: center;
//     align-items: center;
//     padding: 20px 13px;
//     color: var(--text);
// }

// .menu-item:hover .menu-item-link,
// .menu-item:hover .menu-fire,
// .sub-menu > li:hover > a {
//     color: var(--green-text);
//     transition: color 0.2s ease-out;
// }

// .menu-arrow {
//     margin-left: 4.8px;
//     font-size: 10px;
//     // font-weight: 300;
// }

// .menu-fire {
//     margin-right: 5px;
//     font-size: 23px;
//     color: var(--red-color);
// }

// .menu-text {
//     font-weight: 500;
//     font-size: 1rem;
// }

// .sub-menu {
//     position: absolute;
//     z-index: 1;
//     min-width: 256px;
//     width: fit-content;
//     padding: 20px 0;
//     background-color: white;
//     border-radius: 15px;
//     top: 85%;
//     left: -10%;
//     box-shadow: 7px -5px 0.5rem #00000025;
//     display: block;
//     visibility: hidden;
//     opacity: 0;
//     transform: translateY(20px);
//     transition: all ease-out 0.2s;
// }

// /* ! Quan trong cua sub menu */
// .menu-item:hover > .sub-menu {
//     visibility: visible;
//     opacity: 1;
//     transform: translateY(0);
//     transition: all ease-in 0.3s;
// }

// .sub-menu li a {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;
//     padding: 0 30px;
//     line-height: 38px;
//     font-size: 16px;
//     font-weight: 600;
//     color: var(--gray-text);
    
// }

// .sub-menu li:hover {
//     background-color: rgba(126, 126, 126, 0.2);
//     border-radius: 3px;
// }

// .sub-menu--sub {
//     top: -20px;
//     left: 95%;
//     box-shadow: -7px -5px 0.5rem #00000025;
//     transform: translateX(10px);
// }

// li:hover > .sub-menu--sub {
//     visibility: visible;
//     opacity: 1;
//     transform: translateX(0);
//     transition: all ease-in 0.3s;
// }

// .sub-menu--mega {
//     display: flex;
//     width: 90vw;
//     left: -375%;
// }

// .sub-menu--mega ul {
//     padding: 0;
// }

// .sub-menu--mega > li:last-child {
//     flex-grow: 1;
// }

// .sub-menu--mega > li:hover{
//     background-color: transparent;
//     color: var(--gray-text);
// }

// .sub-menu--mega > li > a {
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 60px;
// }

// .sub-menu--mega > li:last-child > a {
//     height: 100%;
//     justify-content: center;
// }


.sliders{
    overflow-x: hidden;
    aspect-ratio: 7/3;
    margin-top: .8rem;
    @include mobile{
        aspect-ratio: auto;
    }
    .slider{
        flex: 0 0 100%;
        min-width: 100%;
        // aspect-ratio: 7/3;
        background-position: center;
        border-radius: 1.3rem;
        padding: 4.5rem;
        transition: all 1s;
        &__info{
            transition: all 1s ease-out 1s;
        }
        h1{
            font-family: $main-font;
            font-weight: 700;
            color: var(--navy-text);
        }
        p{
            color: var(--gray-text);
            font-family: $main-font;
        }
        &__mailform{
            font-family: $main-font;
            background-color: white;
            width: 100%;
            max-width: 400px;
            border-radius: 26px;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            flex-grow: 0;
            input{
                margin: 15px 0px;
                padding: 5px 0;
                flex-grow: 1;
                border: none;
                :focus{
                    outline: none;
                }
            }
            button{
                color: white;
                background-color: var(--green-text);
                border: none;
                margin-left: auto;
                padding: 21px;
                border-radius: 25px;
                flex-grow: 0;
            }
        }

    }
    .btn-left, .btn-right{
        background-color: white;
        border: none;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        color: var(--green-text);
        position: absolute;
        &:hover{
            background-color: var(--green-text);
            color: white;
        }

    }
    
    .btn-left{
        left: 10px;
    }
    .btn-right{
        right: 10px;

    }
    .btn-rounds{
        position: absolute;
        bottom: .2rem;
        left: 50%;
        transform: translateX(-50%);
        .btn-round{
            width: 10px;
            height: 10px;
            transition: .2s;
            cursor: pointer;
        }
        .btn-round-chosen{
            background-color: white;
            transform: scale(1.2);
        }
    }
}

.feature{
    button.arrow{
        @include btn-arrow;
        margin-right: .5rem;
    }   
    &__content{
        margin: 0 -5px;
        
        
    }
    &__item{
        flex: 0 0;
        transition: all .3s ;
        &-inner{
            width: calc(100% - 10px);
            min-height: 150px;
            margin: 0 auto;
            border: solid 1px #ccc;
            border-radius: .5rem;
            padding: .5rem;
            &-img{
                width: 90%;
                padding-top: 90%;
                @include bg-cover;
                border-radius: .3rem;
                margin: 0 auto;
                margin-bottom: .3rem;
            }
            h3, span{
                font-family: $main-font;
                font-weight: 700;
                min-height: 3rem;
            }
            h3{
                font-size: .9rem;
                color: var(--navy-text);
            }
            span{
                font-size: .6rem;
                color: var(--gray-text);
            }

        }
    }
    .banner-item{
        & > div{
            background-position: center;
            background-size: cover;
            min-height: 200px;
        }
        &__info{
            &:hover > h3{
                transform: translateY(-.2rem);
                transition: all .5s;
            }
            h3{
                color: var(--navy-text);
                // font-weight: 700;
                font-size: 1.4rem;
                min-height: 90px;
            }
            button{
                outline: none;
                position: relative;
                border: none;
                padding: .3rem 1.5rem .3rem .4rem;
                color: white;
                font-size: .8rem;
                background-color: var(--green-text);
                border-radius: 4px;
                font-weight: 700;
                font-family: $main-font;
                transition: padding .3s ease-out;
                &:hover{
                    background-color: orange;
                    padding-right: 2rem;
                }
                i{
                    position: absolute;
                    right: 5px;
                    font-size: .7rem;
                    color: white;
                }
            }
        }
    }
}

.popular{
    nav > a{
        font-family: $main-font;
        text-decoration: none;
        color: var(--navy-text);
        font-weight: 700;
        font-size: .8rem;
        margin: 0 .7rem;
        &:hover{
            color: var(--green-text);
        }
    }
}

.dailybest{
    nav > a{
        font-family: $main-font;
        text-decoration: none;
        color: var(--navy-text);
        font-weight: 700;
        font-size: .8rem;
        margin: 0 .7rem;
        &:hover{
            color: var(--green-text);
        }
    }
    &__banner{
        background-position: center;
        background-size: cover;
        border-radius: 4px;
        padding: 1rem;
        h1{
            font-family: $main-font;
            @include name-style;
            font-size: 1.5rem;
            &:hover{
                color: var(--navy-text);
            }
        }   
        button{
            outline: none;
            position: relative;
            border: none;
            padding: .3rem 1.5rem .3rem .4rem;
            color: white;
            font-size: .8rem;
            background-color: var(--green-text);
            border-radius: 4px;
            font-weight: 700;
            font-family: $main-font;
            transition: padding .3s ease-out;
            &:hover{
                background-color: orange;
                padding-right: 2rem;
            }
            i{
                position: absolute;
                right: 5px;
                font-size: .7rem;
                color: white;
            }
        }
    }
    .products{
        .arrow-btn{
            @include btn-arrow;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid var(--green-text);
        }
        .left{
            left: 0;
        }
        .right{
            right: 0;
        }
        
        
    }
}

.deals{
    background-color: var(--sale-bg);
    border-radius: .6rem;
    padding-top: 1rem;
    font-family: $main-font;
    &__header{
        padding: 0 1rem;
        &-title{
            h2{
                color: var(--yellow-text);
                font-weight: 700;
            }
            span{
                color: white;
            }
        }
        &-time{
            span{
                color: white;
                font-weight: 700;
                margin-right: .8rem;
            }
            &-box{
                background-color: var(--yellow-text);
                border-radius: 4px;
                padding: .2rem;
                min-width: 3rem;
                p{
                    margin-bottom: .1rem;
                }
                h4{
                    font-size: 1rem;
                    font-weight: 700;
                }
    
            }
        }

        &-all{
            font-size: .9rem;
            font-weight: 700;
            cursor: pointer;
            color: white;
        }
        @include mobile{
            flex-direction: column;
        }
    }
    &__list{
        &-container{
            width: 100%;
            padding: 1rem;
            background-color: var(--sale-bg-light);
        }
    }
}



